{% extends 'base.html.twig' %}

{% block title %}Nova Categoria
{% endblock %}

{% block body %}
	<h1>Nova Categoria</h1>

	{{ include('admin/news_category/_form.html.twig') }}

	<a class="btn btn-secondary rounded-pill float-start ms-3 text-white" href="{{ path('app_admin_news_category_index') }}">Voltar</a>
{% endblock %}
