<html lang="en" data-coreui-theme="dark">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<meta name="description" content="Área Administrativa">
		<title>
			{% block title %}Bem-Vindo!
			{% endblock %}
		</title>
		<!-- Vendors styles-->
		<link rel="stylesheet" href="/admin/vendors/simplebar/css/simplebar.css">
		<link
		rel="stylesheet" href="/admin/css/vendors/simplebar.css">
		<!-- Main styles for this application-->
		<link
		href="/admin/css/style.css" rel="stylesheet">
		<!-- We use those styles to show code examples, you should remove them in your application.-->
		<link
		href="/admin/css/examples.css" rel="stylesheet">
		<!-- We use those styles to style Carbon ads and CoreUI PRO banner, you should remove them in your application.-->
		<link href="/admin/css/ads.css" rel="stylesheet">
		<script src="/admin/js/config.js"></script>
		<script src="/admin/js/color-modes.js"></script>
		<link href="/admin/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet"> {% block stylesheets %}{% endblock %}{% block javascripts %}{% endblock %}
		</head>
		<body>
			<div class="sidebar sidebar-dark sidebar-fixed border-end" id="sidebar">
				<div class="sidebar-header border-bottom">
					<div class="sidebar-brand">
						<svg class="sidebar-brand-full" width="88" height="32" alt="CoreUI Logo">
							<use xlink:href="/admin/assets/brand/coreui.svg#full"></use>
						</svg>
						<svg class="sidebar-brand-narrow" width="32" height="32" alt="CoreUI Logo">
							<use xlink:href="/admin/assets/brand/coreui.svg#signet"></use>
						</svg>
					</div>
					<button class="btn-close d-lg-none" type="button" data-coreui-dismiss="offcanvas" data-coreui-theme="dark" aria-label="Close" onclick="coreui.Sidebar.getInstance(document.querySelector(&quot;#sidebar&quot;)).toggle()"></button>
				</div>
				<ul class="sidebar-nav simplebar-scrollable-y" data-coreui="navigation" data-simplebar="init">
					<div class="simplebar-wrapper" style="margin: -8px;">
						<div class="simplebar-height-auto-observer-wrapper">
							<div class="simplebar-height-auto-observer"></div>
						</div>
						<div class="simplebar-mask">
							<div class="simplebar-offset" style="right: 0px; bottom: 0px;">
								<div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;">
									<div class="simplebar-content" style="padding: 8px;">
										<li class="nav-item">
											<a class="nav-link" href="{{ path('app_admin_dashboard') }}">
												<svg
													class="nav-icon" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
													<!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
													<path d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm320 96c0-26.9-16.5-49.9-40-59.3V88c0-13.3-10.7-24-24-24s-24 10.7-24 24V292.7c-23.5 9.5-40 32.5-40 59.3c0 35.3 28.7 64 64 64s64-28.7 64-64zM144 176a32 32 0 1 0 0-64 32 32 0 1 0 0 64zm-16 80a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm288 32a32 32 0 1 0 0-64 32 32 0 1 0 0 64zM400 144a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/>
												</svg>
												Dashboard
											</a>
										</li>
										<li class="nav-title">Produtos</li>
										<li class="nav-item">
											<a class="nav-link" href="{{ path('app_admin_product_property_index') }}">
												<svg
													class="nav-icon" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
													<!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
													<path d="M326.3 218.8c0 20.5-16.7 37.2-37.2 37.2h-70.3v-74.4h70.3c20.5 0 37.2 16.7 37.2 37.2zM504 256c0 137-111 248-248 248S8 393 8 256 119 8 256 8s248 111 248 248zm-128.1-37.2c0-47.9-38.9-86.8-86.8-86.8H169.2v248h49.6v-74.4h70.3c47.9 0 86.8-38.9 86.8-86.8z"/>
												</svg>
												Propriedades</a>
										</li>

										<li class="nav-title">Notícias</li>
										<li class="nav-item">
											<a class="nav-link" href="{{ path('app_admin_news_category_index') }}">
												<svg
													class="nav-icon" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
													<!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
													<path d="M168 80c-13.3 0-24 10.7-24 24V408c0 8.4-1.4 16.5-4.1 24H440c13.3 0 24-10.7 24-24V104c0-13.3-10.7-24-24-24H168zM72 480c-39.8 0-72-32.2-72-72V112C0 98.7 10.7 88 24 88s24 10.7 24 24V408c0 13.3 10.7 24 24 24s24-10.7 24-24V104c0-39.8 32.2-72 72-72H440c39.8 0 72 32.2 72 72V408c0 39.8-32.2 72-72 72H72zM176 136c0-13.3 10.7-24 24-24h96c13.3 0 24 10.7 24 24v80c0 13.3-10.7 24-24 24H200c-13.3 0-24-10.7-24-24V136zm200-24h32c13.3 0 24 10.7 24 24s-10.7 24-24 24H376c-13.3 0-24-10.7-24-24s10.7-24 24-24zm0 80h32c13.3 0 24 10.7 24 24s-10.7 24-24 24H376c-13.3 0-24-10.7-24-24s10.7-24 24-24zM200 272H408c13.3 0 24 10.7 24 24s-10.7 24-24 24H200c-13.3 0-24-10.7-24-24s10.7-24 24-24zm0 80H408c13.3 0 24 10.7 24 24s-10.7 24-24 24H200c-13.3 0-24-10.7-24-24s10.7-24 24-24z"/>
												</svg>
												Categorias</a>
										</li>


									</div>
								</div>
							</div>
						</div>
						<div class="simplebar-placeholder" style="width: 255px; height: 823px;"></div>
					</div>
					<div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
						<div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
					</div>
					<div class="simplebar-track simplebar-vertical" style="visibility: visible;">
						<div class="simplebar-scrollbar" style="height: 619px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
					</div>
				</ul>
				<div class="sidebar-footer border-top d-none d-md-flex">
					<button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
				</div>
			</div>
			<div class="wrapper d-flex flex-column min-vh-100">
				<header class="header header-sticky p-0 mb-4">
					<div class="container-fluid border-bottom px-4">
						<button class="header-toggler" type="button" onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()" style="margin-inline-start: -14px;">
							<svg class="icon icon-lg">
								<use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-menu"></use>
							</svg>
						</button>
						Dashboard

						<ul class="header-nav">
							<li class="nav-item py-1">
								<div class="vr h-100 mx-2 text-body text-opacity-75"></div>
							</li>
							<li class="nav-item dropdown">
								<button class="btn btn-link nav-link py-2 px-2 d-flex align-items-center" type="button" aria-expanded="false" data-coreui-toggle="dropdown">
									<svg class="icon icon-lg theme-icon-active">
										<use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-moon"></use>
									</svg>
								</button>
								<ul class="dropdown-menu dropdown-menu-end" style="--cui-dropdown-min-width: 8rem;">
									<li>
										<button class="dropdown-item d-flex align-items-center" type="button" data-coreui-theme-value="light">
											<svg class="icon icon-lg me-3">
												<use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-sun"></use>
											</svg>Light
										</button>
									</li>
									<li>
										<button class="dropdown-item d-flex align-items-center active" type="button" data-coreui-theme-value="dark">
											<svg class="icon icon-lg me-3">
												<use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-moon"></use>
											</svg>Dark
										</button>
									</li>
									<li>
										<button class="dropdown-item d-flex align-items-center" type="button" data-coreui-theme-value="auto">
											<svg class="icon icon-lg me-3">
												<use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-contrast"></use>
											</svg>Auto
										</button>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</header>
				<div class="body flex-grow-1">
					<div class="container-lg px-4"> {% block body %}{% endblock %}
						</div>
					</div>
					<footer class="footer px-4">
						<div>
							<a href="https://coreui.io">CoreUI
							</a>
							<a href="https://coreui.io/product/free-bootstrap-admin-template/">Bootstrap Admin Template</a>
							© 2024 creativeLabs.</div>
						<div class="ms-auto">Desenvolvido por&nbsp;<a href="https://github.com/bztNTC">Bruno Zenatti de Caires Marcelo</a>
						</div>
					</footer>
				</div>
				<!-- CoreUI and necessary plugins-->
				<script src="/admin/vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
				<script src="/admin/vendors/simplebar/js/simplebar.min.js"></script>
				<script>
					const header = document.querySelector('header.header');

document.addEventListener('scroll', () => {
if (header) {
header.classList.toggle('shadow-sm', document.documentElement.scrollTop > 0);
}
});
				</script>
				<!-- Plugins and scripts required by this view-->
				<script src="/admin/vendors/chart.js/js/chart.umd.js"></script>
				<script src="/admin/vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
				<script src="/admin/vendors/@coreui/utils/js/index.js"></script>
				<script src="/admin/js/main.js"></script>
				<script></script>


			</body>
		</html>
